#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




/* Estilos del portal de registro */

/* Componente App.jsx */
.card1{
  width:300px ; 
  height: 550px ; 
  border:  1px solid grey ; 
  border-radius: 20px ; 
  display: flex ; 
  flex-direction: column ;
  justify-content: space-between ;
}


/* Componente Registro.jsx */
.div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Clase para el div que contiene al componente aviso, en el componente registro */
.aviso{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

/* Clase para el div que contiene al alert en el componente aviso */
.aviso_int{
  width: 100%;
  height: 60px;
}

/* Clase para el alert de bootstrap en Aviso.jsx */
.alert{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}